body {
  background: #f5d9d5;
  font-family: "Roboto", sans-serif;
}
.xyz h2 {
  font-size: 3rem;
  font-weight: 100;
  color: #ea1c2c;
}
.content {
  margin-top: 100px;
  margin-bottom: 100px;
}
.xyz p{
  color: #f498b8;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 2;
}
#navbar.scrolled{
  background-color: rgb(222, 192, 222);
transition: background 1s;
}
#navbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#navbar .nav-link {
  color: white;
}
#navbar .nav-link:hover{
  color:  #ea1c2c;
}
#navbar .navbar-brand {
  color: #ea1c2c;
}
#group span{
    color: #ea1c2c;
}
#group h1{
  font-size: 4rem;
  font-weight: 100;
}
@media (max-width: 1200px) {
  #group h1 {
    font-size: 2.5 rem;
  }
}