<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <h1>create a new comment</h1>
    <form action="/comments" method="POST">
       <section>
         <label for="username">Enter username</label>
        <input type="text" name="username" placeholder="username">
        </section>
        <br> 
        <br><section>
        <label for="comment">COMMENT</label>
        <br>
        <textarea name="comment" id="" cols="30" rows="10" placeholder="Write your thoughtful comment"></textarea>        
        </section>
        <button>SUBMIT</button>

        <a href="/comments">Go to comments</a>
    </form>
</body>
</html>